{{#if (isString field)}}
  {{#if (startsWith field 'http')}}
    <a href="{{field}}" target="_blank">
      <span class="{{#if (isEqual index 0)}}left-profile-value{{else}}right-profile-value{{/if}}">{{field}}</span>
    </a>
  {{else}}
    <span class="{{#if (isEqual index 0)}}left-profile-value{{else}}right-profile-value{{/if}}">{{field}}</span>
  {{/if}}
{{else}}
  <table>
    {{#each field}}
      <tr {{#unless confirmed}} style="color: #8c1b13;" {{/unless}} {{> signatureTooltip signatures=signatures}}>
        <td>
          <div {{> signatureTooltip signatures=signatures}} {{#unless confirmed}} style="color: #8c1b13;" {{/unless}}>
            {{#if (startsWith value 'http')}}
              <a href="{{value}}" target="_blank">
                <span class="{{#if (isEqual ../index 0)}}left-profile-value{{else}}right-profile-value{{/if}}">{{value}}</span>
              </a>
            {{else}}
              <span class="{{#if (isEqual ../index 0)}}left-profile-value{{else}}right-profile-value{{/if}}">{{value}}</span>
            {{/if}}
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}
