{{!-- Nav tabs --}}
<ul class="nav nav-tabs" role="tablist">
  {{#each sections}}
    <li role="presentation" {{#if active}}class="active"{{/if}}>
      <a href="#{{id}}" aria-controls="{{id}}" role="tab" data-toggle="tab" data-tab-index="{{@index}}">
        {{{heading}}}{{#if headingCount}} <span class="badge">{{headingCount}}</span>{{/if}}
      </a>
    </li>
  {{/each}}
</ul>

{{!-- Tab panes --}}
<div class="tab-content">
  {{#each sections}}
    <div role="tabpanel" class="tab-pane fade {{extraClasses}} {{#if active}}in active{{/if}}" id="{{id}}">
      {{{content}}}
    </div>
  {{/each}}
</div>
