<ul class="list-unstyled">
  {{#each groupedInvitations as |groupInfo groupId|}}
    <li>
      <h2>
        <a class="collapse-btn {{#unless ../taskOptions.collapsed}}active{{/unless}}" href="#">
          <span class="glyphicon glyphicon-triangle-right"></span>
        </a>
        <a href="/group?id={{groupId}}" title="View venue homepage">
          {{prettyId groupId}}
        </a>
      </h2>

      <a href="#" class="show-tasks" role="button">
        <span>Show</span> {{inflect groupInfo.numPending "pending task" "pending tasks" true}}
        {{#if groupInfo.numCompleted}}and {{inflect groupInfo.numCompleted "completed task" "completed tasks" true}}{{/if}}
      </a>

      {{> taskList invitations=groupInfo.invitations taskOptions=../taskOptions}}

      <hr>
    </li>
  {{else}}
    <li>
      <p class="empty-message">{{taskOptions.emptyMessage}}</p>
    </li>
  {{/each}}
</ul>
