<div class="reviewer-progress">
  <h4>{{numCompletedReviews}} of {{numPapers}} Reviews Completed</h4>

  <strong>Papers:</strong>
  <table class="table table-condensed table-minimal">
    <tbody>
      {{#each papers}}
        <tr>
          <td style="width: 28px;"><strong>{{note.number}}.</strong></td>
          <td style="width: 280px;"><strong>{{numOfReviews}} of {{numOfReviewers}} Reviews Submitted </strong></td>
        </tr>
        <tr>
          <td style="width: 28px;"></td>
          <td style="width: 280px;">Average Rating: {{averageRating}} (Min: {{minRating}}, Max: {{maxRating}})</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>
