<div class="areachair-progress">
  <h4>{{numMetaReview}} {{#if metaReviewName}}{{metaReviewName}}{{else}}Meta Review{{/if}} Submitted</h4>

  <strong>{{#if committeeName}}{{committeeName}}{{else}}Area Chair{{/if}}:</strong>
  <table class="table table-condensed table-minimal">
    <tbody>
      {{#if areachair}}
        <tr>
          <td style="width: {{#if tableWidth}}{{tableWidth}}{{else}}320px;{{/if}}">
            {{areachair.name}} {{#if showPreferredEmail}}{{#if areachair.id}}<a href="#" class="copy-email"  data-user-id="{{areachair.id}}" data-user-name="{{areachair.name}}">Copy Email</a>{{/if}}{{/if}}
          </td>
        </tr>
      {{/if}}
      {{#if metaReview}}
        <tr>
          <td>
            Recommendation: {{metaReview.content.recommendation}}
            {{#if status}}
              {{#each status as |value name|}}
                <br>
                {{name}}: {{value}}
              {{/each}}
            {{else}}
              <!-- Deprecated -->
              {{#if metaReview.content.format}}/ Format: {{metaReview.content.format}}{{/if}}
            {{/if}}
          </td>
        </tr>

        <tr>
          <td>
            <a href="/forum?id={{metaReview.forum}}&noteId={{metaReview.id}}{{#if referrer}}&referrer={{referrer}}{{/if}}" target="_blank">Read {{#if metaReviewName}}{{metaReviewName}}{{else}}Meta Review{{/if}}</a>
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>

  {{#if seniorAreaChair}}
    <strong>Senior Area Chair:</strong>
    <table class="table table-condensed table-minimal">
      <tbody>
        <tr>
          <td style="width: {{#if tableWidth}}{{tableWidth}}{{else}}320px;{{/if}}">{{seniorAreaChair.name}} <span class="text-muted">({{seniorAreaChair.email}})</span></td>
        </tr>
      </tbody>
    </table>
  {{/if}}

  <div>
    {{#each actions}}
      <br>
      <a href="{{url}}{{#if ../referrer}}&referrer={{../referrer}}{{/if}}" target="_blank">{{name}}</a>
    {{/each}}
  </div>
</div>
