<div class="tag-widget bid {{#unless tag.value}}incomplete{{/unless}} {{extraClasses}}"
  data-type="bid" data-id="{{tag.id}}" data-invitation-id="{{tag.invitationId}}">
  <label>{{options.label}}:</label>
  <div class="btn-group">
    <button class="btn btn-default btn-xs btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="bid-value">{{#if tag.value}}{{tag.value}}{{else}}{{options.placeholder}}{{/if}}</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {{#each tag.options}}
        <li><a href="#">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
