{{#each assignmentNotes}}
<tr data-id="{{id}}">
  <td>{{number}}</td>

  <td class="assignment-label" style="overflow: hidden">
    <a href="{{edgeBrowserUrl id content}}">{{#if content.title}}
      {{content.title}}
    {{else}}
      {{content.label}}
    {{/if}}</a>
  </td>

  <td>{{dateTime tcdate}}</td>

  <td>{{#isnt tcdate tmdate}}{{dateTime tmdate}}{{/isnt}}</td>

  <td>
    {{#is content.status "Error"}}
      <span class="assignment-status" data-toggle="tooltip" data-placement="top" title="{{content.error_message}}">{{content.status}}</span>
    {{else}}
      {{#is content.status "No Solution"}}
        <span class="assignment-status" data-toggle="tooltip" data-placement="top" title="{{content.error_message}}">{{content.status}}</span>
      {{else}}
        <span class="assignment-status">{{content.status}}</span>
      {{/is}}
    {{/is}}
  </td>

  <td>
    <a class="edit-parameters-link{{#is content.status 'Running'}}-disabled disabled"{{else}}" href="#" {{/is}}><span class="glyphicon glyphicon-pencil"></span>&nbsp; Edit</a><br>
    <a class="clone-config" href="#"><span class="glyphicon glyphicon-duplicate"></span>&nbsp; Copy</a>
  </td>

  <td class="assignment-actions">
    {{#is content.status "Initialized"}}
      <a class="run-matcher" href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp; Run Matcher</a>
    {{/is}}
    {{#is content.status "Complete"}}
      <a href="{{edgeBrowserUrl id content}}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; Browse Assignments</a><br>
      <a href="/assignments/stats?id={{id}}{{#if ../referrer}}&referrer={{../referrer}}{{/if}}"><span class="glyphicon glyphicon-stats"></span>&nbsp; View Statistics</a><br>
      <a href="#"><span class="glyphicon glyphicon-share"></span>&nbsp; Deploy Assignment</a>
    {{/is}}
    {{#is content.status "Error"}}
      <a class="run-matcher" href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp; Run Matcher</a><br>
    {{/is}}
    {{#is content.status "No Solution"}}
      <a class="run-matcher" href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp; Run Matcher</a><br>
    {{/is}}
    {{#is content.status "Deployed"}}
      <a href="{{edgeBrowserUrl id content}}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; Browse Assignments</a><br>
      <a href="/assignments/stats?id={{id}}{{#if ../referrer}}&referrer={{../referrer}}{{/if}}"><span class="glyphicon glyphicon-stats"></span>&nbsp; View Statistics</a><br>
    {{/is}}
  </td>
</tr>
{{/each}}
