{{#if options.showAddForm}}
  <form class="form-inline group-members-form">
    <div class="form-group pull-left has-feedback">
      <input
        type="text"
        class="form-control input-sm add-member-input"
        value="{{searchTerm}}"
        placeholder="e.g. ~Jane_Doe1, jane@example.com, abc.com/2018/Conf/Authors"
      >
      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    </div>

    <div class="form-group pull-left">
      <button
        type="button"
        class="btn btn-sm btn-primary add-member"
        {{#unless addButtonEnabled}}disabled{{/unless}}
      >Add to Group</button>
    </div>

    <div class="form-group pull-right">
      <button type="button" class="btn btn-sm btn-primary select-all-members" data-selected="true">Select All</button>
      <button type="button" class="btn btn-sm btn-primary message-selected-members">Message Selected</button>
      <button type="button" class="btn btn-sm btn-primary remove-selected-members">Remove Selected</button>
    </div>
  </form>
{{/if}}

<table class="table table-hover group-members-table">
  <thead>
    <tr>
      <th style="width: 40px"></th>
      <th></th>
      <th style="width: 220px"></th>
    </tr>
  </thead>

  <tbody>
    {{#each groupMembers}}
      {{#gt @index ../removedMembersIndex}}
        {{> groupMembersTableRow memberId=this removed=true}}
      {{else}}
        {{#inArray ../selectedMembers this}}
          {{> groupMembersTableRow memberId=this selected=true}}
        {{else}}
          {{> groupMembersTableRow memberId=this}}
        {{/inArray}}
      {{/gt}}
    {{else}}
      <tr>
        <td></td>
        <td colspan="2">
          {{#if searchTerm}}
            <p class="empty-message">No members matching the search "{{searchTerm}}" found. Click Add to Group above to add a new member.</p>
          {{else}}
            <p class="empty-message">No members to display</p>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>

  <tfoot>
    <tr>
      <td colspan="3"></td>
    </tr>
  </tfoot>
</table>
