<dl class="dl-horizontal group-info-table">
  <dt>Parent Group:</dt>
  <dd><a href="{{groupUrl groupParent true}}">{{prettyId groupParent}}</a></dd>

  <dt>Readers:</dt>
  <dd>{{groupIdList group.readers}}</dd>

  {{#if group.nonreaders}}
    <dt>Non-readers:</dt>
    <dd>{{groupIdList group.nonreaders}}</dd>
  {{/if}}

  <dt>Writers:</dt>
  <dd>{{groupIdList group.writers}}</dd>

  <dt>Signatories:</dt>
  <dd>{{groupIdList group.signatories}}</dd>

  <dt>Signature:</dt>
  <dd>{{groupIdList group.signatures}}</dd>

  <dt>Created:</dt>
  <dd>{{formattedDate group.cdate group.tcdate}}</dd>

  <dt>Last Modified:</dt>
  <dd>{{formattedDate group.mdate group.tmdate}}</dd>
</dl>

{{#if editable}}
  <button type="button" class="btn btn-sm btn-primary edit-group-info">Edit General Info</button>

  <form class="group-info-form form-horizontal" style="display: none;">
    <div class="form-group">
      <label for="readers" class="col-xs-2 control-label">Readers:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="readers" value="{{join group.readers}}">
      </div>
    </div>

    <div class="form-group">
      <label for="nonreaders" class="col-xs-2 control-label">Non-readers:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="nonreaders" value="{{join group.nonreaders}}">
      </div>
    </div>

    <div class="form-group">
      <label for="writers" class="col-xs-2 control-label">Writers:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="writers" value="{{join group.writers}}">
      </div>
    </div>

    <div class="form-group">
      <label for="signatories" class="col-xs-2 control-label">Signatories:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="signatories" value="{{join group.signatories}}">
      </div>
    </div>

    <div class="form-group">
      <label for="signatures" class="col-xs-2 control-label">Signature:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="signatures" value="{{join group.signatures}}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-2">&nbsp;</div>
      <div class="col-xs-10">
        <button type="submit" class="btn btn-sm btn-primary">Save Group</button>
        <button type="button" class="btn btn-sm btn-default cancel-edit-group">Cancel</button>
      </div>
    </div>
  </form>
{{/if}}
