<dl class="dl-horizontal group-info-table">
  {{#if invitation.super}}
    <dt>Super Invitation:</dt>
    <dd><a href="/invitation/edit?id={{invitation.super}}">{{prettyId invitation.super}}</a></dd>
  {{/if}}

  <dt>Parent Group:</dt>
  <dd><a href="{{groupUrl parentGroupId true}}">{{prettyId parentGroupId}}</a></dd>

  <dt>Readers:</dt>
  <dd>{{groupIdList invitation.readers}}</dd>

  {{#if invitation.nonreaders}}
    <dt>Non-readers:</dt>
    <dd>{{groupIdList invitation.nonreaders}}</dd>
  {{/if}}

  <dt>Writers:</dt>
  <dd>{{groupIdList invitation.writers}}</dd>

  <dt>Invitees:</dt>
  <dd>{{groupIdList invitation.invitees}}</dd>

  {{#if invitation.noninvitees}}
    <dt>Non-Invitees:</dt>
    <dd>{{groupIdList invitation.noninvitees}}</dd>
  {{/if}}

  {{#if invitation.final}}
    <dt>Final Fields:</dt>
    <dd>{{join invitation.final}}</dd>
  {{/if}}

  <dt>Multi-Reply:</dt>
  <dd>{{#if invitation.multiReply}}True{{else}}{{#is invitation.multiReply false}}False{{/is}}{{/if}}</dd>

  <dt>Completed After:</dt>
  <dd>{{invitation.taskCompletionCount}}</dd>

  <dt>Signature:</dt>
  <dd>{{groupIdList invitation.signatures}}</dd>

  <dt>Created:</dt>
  <dd>{{formattedDate invitation.tcdate default="None"}}</dd>

  <dt>Activation Date:</dt>
  <dd>{{formattedDate invitation.cdate invitation.tcdate default="None"}}</dd>

  <dt>Due Date:</dt>
  <dd>{{formattedDate invitation.duedate default="None"}}</dd>

  <dt>Expiration Date:</dt>
  <dd>{{formattedDate invitation.expdate default="None"}}</dd>

  {{#if ddate}}
    <dt>Deleted:</dt>
    <dd>{{formattedDate invitation.ddate invitation.tddate}}</dd>
  {{/if}}

  <dt>Last Modified:</dt>
  <dd class="mdate">{{formattedDate invitation.mdate invitation.tmdate}}</dd>
</dl>

{{#if editable}}
  <button type="button" class="btn btn-sm btn-primary edit-group-info">Edit General Info</button>

  <form class="group-info-form form-horizontal" style="display: none;">
    <div class="form-group">
      <label for="super" class="col-xs-2 control-label">Super Invitation:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="super" value="{{invitation.super}}">
      </div>
    </div>

    <div class="form-group">
      <label for="readers" class="col-xs-2 control-label">Readers:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="readers" value="{{join invitation.readers}}">
      </div>
    </div>

    <div class="form-group">
      <label for="nonreaders" class="col-xs-2 control-label">Non-readers:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="nonreaders" value="{{join invitation.nonreaders}}">
      </div>
    </div>

    <div class="form-group">
      <label for="writers" class="col-xs-2 control-label">Writers:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="writers" value="{{join invitation.writers}}">
      </div>
    </div>

    <div class="form-group">
      <label for="readers" class="col-xs-2 control-label">Invitees:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="invitees" value="{{join invitation.invitees}}">
      </div>
    </div>

    <div class="form-group">
      <label for="noninvitees" class="col-xs-2 control-label">Non-Invitees:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="noninvitees" value="{{join invitation.noninvitees}}">
      </div>
    </div>

    <div class="form-group">
      <label for="final" class="col-xs-2 control-label">Final Fields:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="final" value="{{join invitation.final}}">
      </div>
    </div>

    <div class="form-group">
      <label for="multiReply" class="col-xs-2 control-label">Multi-Reply:</label>
      <div class="col-xs-10">
        <select name="multiReply" class="form-control input-sm">
          <option></option>
          <option {{#is invitation.multiReply true}}selected{{/is}}>True</option>
          <option {{#is invitation.multiReply false}}selected{{/is}}>False</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="taskCompletionCount" class="col-xs-2 control-label">Completed After:</label>
      <div class="col-xs-10">
        <input type="number" class="form-control input-sm" name="taskCompletionCount" value="{{join invitation.taskCompletionCount}}">
      </div>
    </div>

    <div class="form-group">
      <label for="cdate" class="col-xs-2 control-label">Activation Date:</label>
      <div class="col-xs-10">
        <div class="has-feedback date">
          <input type="text" class="form-control input-sm datetimepicker">
          <span class="glyphicon glyphicon-calendar"></span>
          {{timezoneDropdown class="input-sm timezone"}}
        </div>
        <input type="hidden" class="form-control input-sm" name="cdate" value="{{invitation.cdate}}">
      </div>
    </div>

    <div class="form-group">
      <label for="duedate" class="col-xs-2 control-label">Due Date:</label>
      <div class="col-xs-10">
        <div class="has-feedback date">
          <input type="text" class="form-control input-sm datetimepicker">
          <span class="glyphicon glyphicon-calendar"></span>
          {{timezoneDropdown class="input-sm timezone"}}
        </div>
        <input type="hidden" class="form-control input-sm" name="duedate" value="{{invitation.duedate}}">
      </div>
    </div>

    <div class="form-group">
      <label for="expdate" class="col-xs-2 control-label">Expiration Date:</label>
      <div class="col-xs-10">
        <div class="has-feedback date">
          <input type="text" class="form-control input-sm datetimepicker">
          <span class="glyphicon glyphicon-calendar"></span>
          {{timezoneDropdown class="input-sm timezone"}}
        </div>
        <input type="hidden" class="form-control input-sm" name="expdate" value="{{join invitation.expdate}}">
      </div>
    </div>

    <div class="form-group">
      <label for="signatures" class="col-xs-2 control-label">Signature:</label>
      <div class="col-xs-10">
        <input type="text" class="form-control input-sm" name="signatures" value="{{join invitation.signatures}}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-2">&nbsp;</div>
      <div class="col-xs-10">
        <button type="submit" class="btn btn-sm btn-primary">Save Invitation</button>
        <button type="button" class="btn btn-sm btn-default cancel-edit-group">Cancel</button>
      </div>
    </div>
  </form>
{{/if}}
