{{!-- Task Item. Used to display note invitations and tag invitations --}}
<h4>
  {{#unless completed}}
    {{#if reply.replyto}}
      <a href="/forum?id={{details.replytoNote.forum}}&noteId={{reply.replyto}}&invitationId={{id}}">{{prettyInvitationId id}}</a>
    {{else}}
      <a href="/forum?id={{details.replytoNote.forum}}&invitationId={{id}}">{{prettyInvitationId id}}</a>
    {{/if}}
    <span class="duedate {{dueDateStatus}}">Due: {{dueDateStr}}</span>
  {{else}}
    <a href="/forum?id={{details.replytoNote.forum}}&noteId={{details.repliedNotes.0.id}}">{{prettyInvitationId id}}: {{details.repliedNotes.0.content.title}}</a>
    {{#with details.repliedNotes.[0]}}
    <span class="completed-date">Completed: {{forumDate cdate tcdate mdate tmdate null}}</span>
    {{/with}}
  {{/unless}}
</h4>

{{#with details.replytoNote}}
<div class="parent-title">
  <span class="glyphicon glyphicon-share-alt"></span>
  <span class="title"><a href="/forum?id={{forum}}">{{content.title}}</a></span>
</div>

<div class="note-authors">
  {{noteAuthors content signatures details}}
</div>
{{/with}}

{{#if options.showContents}}
  {{noteContentCollapsible details.replytoNote invitation=this}}
{{/if}}
