<h4>{{title}} ({{totalCount}})</h4>

<ul class="list-unstyled list-paginated">
  {{#each sortedList}}
    <li data-id="{{id}}">
      <a href="{{groupUrl id true}}">{{prettyId id}}</a>
    </li>
  {{else}}
    <li><p class="empty-message">No {{toLowerCase title}}</p></li>
  {{/each}}
</ul>
