<h4>{{title}} ({{totalCount}})</h4>

<ul class="list-unstyled list-paginated">
  {{#each sortedList}}
    <li data-id="{{id}}">
      <a href="/forum?id={{forum}}{{#isnt id forum}}&noteId={{id}}{{/isnt}}">
        {{prettyInvitationId invitation}}: {{#if content.title}}{{content.title}}{{else}}{{forum}}{{/if}}
      </a>
    </li>
  {{else}}
    <li><p class="empty-message">No {{toLowerCase title}}</p></li>
  {{/each}}
</ul>
