<ul class="list-unstyled submissions-list task-list" {{#if taskOptions.collapsed}}style="display: none;"{{/if}}>
  {{#each invitations}}
    <li class="note {{#if completed}}completed{{/if}}" data-id="{{id}}">
      {{#if tagInvitation}}
        <h4>
          {{#if web}}
          <a href="/invitation?id={{id}}{{#if ../taskOptions.referrer}}&referrer={{../taskOptions.referrer}}{{/if}}">{{prettyInvitationId id includePaperNum=true}}</a>
          {{else}}
          <a href="/group?id={{groupId}}{{#if ../taskOptions.referrer}}&referrer={{../taskOptions.referrer}}{{/if}}">{{prettyInvitationId id includePaperNum=true}}</a>
          {{/if}}
          <span class="duedate {{dueDateStatus}}">Due: {{dueDateStr}}</span>
        </h4>
      {{/if}}

      {{#if noteInvitation}}
        <h4>
          {{#if edit.note.replyto}}
            <a href="/forum?id={{details.replytoNote.forum}}&noteId={{noteId}}{{#unless completed}}&invitationId={{id}}{{/unless}}{{#if ../taskOptions.referrer}}&referrer={{../taskOptions.referrer}}{{/if}}">
              {{prettyInvitationId id includePaperNum=true}}
            </a>
          {{else}}
            <a href="/forum?id={{details.replytoNote.forum}}{{#unless completed}}&invitationId={{id}}{{/unless}}{{#if ../taskOptions.referrer}}&referrer={{../taskOptions.referrer}}{{/if}}">
              {{prettyInvitationId id includePaperNum=true}}
            </a>
          {{/if}}
          <span class="duedate {{dueDateStatus}}">Due: {{dueDateStr}}</span>
        </h4>
        {{#if details.replytoNote.content.title}}
          <div class="parent-title">
            <span class="glyphicon glyphicon-share-alt"></span>
            <span class="title">
              <a href="/forum?id={{details.replytoNote.forum}}{{#if ../taskOptions.referrer}}&referrer={{../taskOptions.referrer}}{{/if}}">
                {{details.replytoNote.content.title.value}}
              </a>
            </span>
          </div>
        {{/if}}
      {{/if}}
    </li>
  {{else}}
    <li><p class="empty-message">{{taskOptions.emptyMessage}}</p></li>
  {{/each}}
</ul>
