{{#if user}}
  <li id="user-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <span>{{user.first}} {{user.middle}} {{user.last}}</span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile?id={{user.id}}">Profile</a></li>
      <li class="visible-sm-block"><a href="/activity" class="push-link">Activity</a></li>
      <li class="visible-sm-block"><a href="/tasks" class="push-link">Tasks</a></li>
      {{!-- <li><a href="#" data-toggle="modal" data-target="#feedback-modal">Feedback</a></li> --}}
      <li role="separator" class="divider hidden-xs"></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </li>
{{else}}
  <li id="user-menu"><a href="/login" class="push-link">Login</a></li>
{{/if}}
